/* <------------------------------- Null Styles ------------------------> */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Souses";
  src: url("./fonts/ofont.ru_Souses.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  font-family: "Souses";
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  padding: 16px 43px;
  background-color: var(--green-color);
  border-radius: 10px;
}

.btn2 {
  font-family: "Souses";
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 28px;
  background-color: var(--green-color);
  border-radius: 30px;
}

.btn3 {
  font-family: "Souses";
  color: var(--green-color);
  font-size: 18px;
  font-weight: 700;
  padding: 8px 20px;
  border: 1px solid var(--green-color);
  background-color: var(--main-color);
  border-radius: 30px;
}

.section {
  padding: 60px 0;
}

.heading {
  font-family: "Souses";
  color: var(--green-color);
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 2px solid var(--green-color);
  margin-bottom: 15px;
}

/* <------------------------------- Root ------------------------> */

:root {
  --main-color: #fff;
  --second-color: #fdf9f4;
  --third-color: #e9dacc;
  --green-color: #acb1a0;
}

/* <------------------------------- Header ------------------------> */

.header__mainpage {
  background-image: url("./images/Header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
.nav__item {
  border-radius: 12px;
  border: 2px solid var(--green-color);
  background-color: rgba(172, 177, 160, 0.2);
  padding: 20px;
}

.nav__item i {
  font-size: 24px;
  color: var(--green-color);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  padding: 250px 0;
}
.hero img {
  margin-bottom: 20px;
}

.hero p {
  font-family: "Souses";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--green-color);
  letter-spacing: 3px;
  max-width: 400px;
  margin-bottom: 20px;
}

/* <------------------------------- About ------------------------> */

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.about__image {
  width: 120%;
  max-width: 120%;
}

.about__image img {
  border-radius: 20px;
  max-width: 100%;
}
.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about__info p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

/* <------------------------------- Services ------------------------> */

.services {
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.services__about {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--green-color);
  max-width: 50%;
  margin-bottom: 50px;
}

.services__proposals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border: 1px solid var(--green-color);
  border-radius: 20px;
}

.services__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__item-info p {
  font-size: 16px;
  color: var(--green-color);
  line-height: 20px;
  margin-bottom: 15px;
  max-width: 80%;
}

.services__item-info span {
  font-size: 18px;
  font-weight: 800;
  color: var(--green-color);
  margin-bottom: 20px;
}

.services__item-image {
  width: 90%;
  max-width: 90%;
}

.services__item-image img {
  max-width: 100%;
  border-radius: 20px;
}

/* * <------------------------------- Specialists ------------------------>  */

.specialists {
  padding-bottom: 50px;
}

.specialists__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.specialists__container .heading {
  margin-bottom: 40px;
}

.slide__spec {
  width: 25% !important;
}

.splide__arrow--next {
  right: -5em !important;
}

.splide__arrow--prev {
  left: -5em !important;
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: var(--green-color);
}

.slider__content img {
  max-width: 75%;
  border-radius: 50%;
}

.slider__content h5 {
  font-weight: 700;
}

.slider__content p {
  line-height: 22px;
}

/* * <------------------------------- Testimonials ------------------------>  */

.testimonials {
  padding-bottom: 50px;
}

.testimonials__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials__button {
  margin-top: 80px;
}
.testimonials__button a {
  color: var(--main-color);
}

.splide__pagination {
  bottom: -2.5em !important;
}

.splide__pagination__page.is-active {
  background: #3b3b3b !important;
}

.testimonials__slide {
  width: 48% !important;
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--green-color);
  border-radius: 20px;
  padding: 20px;
}

.testimonials__item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials__item-heading img {
}

.testimonials__author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonials__author img {
  max-width: 15%;
  border-radius: 50%;
}

.testimonials__author {
}

.testimonials__item-info {
}

/* * <------------------------------- Message ------------------------>  */

.message {
  padding-bottom: 50px;
}

.message__container {
  display: flex;
  align-items: center;
  gap: 150px;
  background-color: var(--green-color);
}

.message__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message__block h4 {
  color: var(--main-color);
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 20px;
}

.message__heading-about {
  max-width: 70%;
  color: var(--main-color);
  margin-bottom: 15px;
}

.message-form {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 20px;
  width: 100%;
}

.form-group {
  margin: 20px 0;
}

.input-group {
  position: relative;
}

.input-group input {
  padding: 15px 7px;
  color: var(--green-color);
  border-radius: 8px;
  width: 80%;
  box-shadow: 10px 15px 15px 1px rgba(0, 0, 0, 0.1);
}

.input-group i {
  position: absolute;
  top: 35%;
  right: 65px;
  transform: translateY((-50%));
}

.policy {
  color: var(--green-color);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}

.policy a {
  text-decoration: underline;
  color: var(--green-color);
}

/* * <------------------------------- Footer ------------------------>  */

.footer {
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: auto;
}

.footer__container {
  padding-top: 30px;
  border-top: 2px solid var(--green-color);
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__logo {
  max-width: 15%;
}
.footer__columns {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 50%;
  max-width: 50%;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.footer__link {
  color: var(--green-color);
  font-size: 16px;
  font-weight: 600;
}
.footer__link i {
  margin-right: 5px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__contact {
  color: var(--green-color);
}

.footer__contact i {
  margin-right: 5px;
}

.footer__social-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 8px;
}

/* -------------------------- Testimonials Page --------------------------- */

/* ------------- Hero -------------- */

.hero__testimonials {
  background-image: url("./images/testimonials-hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero__testimonials__container {
  padding: 50px;
}

.hero__testimonials__container p {
  font-size: 24px;
  color: var(--main-color);
  line-height: 28px;
}

/* ------------- Testimonials ----------------- */

.testimon {
  padding: 40px 0;
}

.testimon-container {
  max-width: 1000px;
}

.testimon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimon__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

/* -------------------------- Gallery Page --------------------------- */

/* ------------- Hero -------------- */

.gallery__hero {
  background-image: url("./images/testimonials-hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero__gallery__container {
  padding: 50px;
}

.hero__gallery__container p {
  font-size: 24px;
  color: var(--main-color);
  line-height: 28px;
}

/* ------------- Gallery -------------- */

.gallery {
  padding: 40px 0;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}
.gallery__item {
  max-width: 300px;
}
.gallery__item img {
  max-width: 300px;
  border-radius: 20px;
}

/* -------------------------- Contacts Page --------------------------- */

/* ------------- Contacts -------------- */

.contacts {
  padding: 40px 0;
}

.contacts__container {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.contacts__info h5 {
  font-size: 24px;
  color: var(--green-color);
  margin-bottom: 10px;
}

.contacts__item {
  margin: 12px 0;
}

.contacts__map {
  max-width: 600px;
}
.contacts__map img {
  max-width: 600px;
  border-radius: 20px;
}

.contacts__message__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 150px;
  background: var(--green-color);
}

/* -------------------------- Specialists Page --------------------------- */

/* ------------- Hero -------------- */

.specialists__testimonials {
  background-image: url("./images/testimonials-hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero__specialists__container {
  padding: 50px;
}

.hero__specialists__container p {
  font-size: 24px;
  color: var(--main-color);
  line-height: 28px;
}

.specialists__block {
  padding: 40px 0;
}

.specialists__block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.specialists__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.specialists__item {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.specialists__item:nth-child(even) {
  flex-direction: row-reverse;
}
.specialists__image {
  max-width: 350px;
}
.specialists__image img {
  max-width: 350px;
  border-radius: 50%;
}
.specialists__about {
  color: var(--green-color);
}
.specialists__about h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.specialists__about span {
  font-weight: 600;
}
.specialists__about p {
  max-width: 80%;
  margin: 15px auto;
  line-height: 20px;
}

.about__hero {
  background-image: url("./images/testimonials-hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero__about__container {
  padding: 50px;
}

.hero__about__container p {
  font-size: 24px;
  color: var(--main-color);
  line-height: 28px;
}

.from {
  padding: 40px 0;
}

.from__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.from__info {
  max-width: 30%;
  color: var(--green-color);
  line-height: 20px;
  margin-bottom: 30px;
}
.from__stories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.from__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 50px;
}
.from__item:nth-child(even) {
  flex-direction: row-reverse;
}
.from__item-image {
  max-width: 380px;
}
.from__item-image img {
  max-width: 380px;
  border-radius: 20px;
}
.from__item-about {
  text-align: left;
  line-height: 21px;
  color: var(--green-color);
}
